body {
    font-family: "PT Sans";
    min-height: 21px;
    font-weight: normal;
    font-size: 14px;
    color: #000000
}

.main-nav {
    font-weight: bold;
    text-transform: uppercase;
    line-height: 26px;
}

.tagline {
    font-weight: bold;
    line-height: 26px;
    text-transform: uppercase;
}

.features-item span {
    font-weight: bold;
    text-transform: uppercase;
}