body {
  font-family: "PT Sans", "Arial", sans-serif;
  min-height: 21px;
  font-weight: normal;
  font-size: 14px;
  padding: 0;
  margin: 0;
  color: #000000;
  text-transform: uppercase;
  /*background: url("");*/
}

.container,
main {
  position: relative;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
}

.main-header {
  position: relative;
  min-height: 70px;
  padding: 0 72px;
  text-align: center;
  margin: 0;
}

.main-nav {
  color: #000000;
  font-weight: bold;
  font-size: 0;
  text-transform: uppercase;
  line-height: 26px;
  -width: 1056px;
}

.main-nav ul {
  padding: 0;
  font-size: 0;
  margin: 0;
  list-style: none;
  outline: 1px solid red;
}

.main-nav li {
  display: inline-block;
  width: 20%;
  font-size: 14px;
  line-height: 26px;
  padding-top: 14px;
  outline: 1px solid black;
}

.to-left {
  float: left;
  text-align: left;
}

.to-right {
  float: right;
}

/*.main-nav li:last-child {
  margin-right: 0;
  padding-right: 0;
  font-size: 14px;
  line-height: 26px;
  vertical-align: middle;
  text-align: center;
}*/

.main-nav li:nth-child(2) {
  text-align: center;
}

.main-nav li:nth-child(3) {
 margin-left: 211px;
}

.main-nav li:nth-child(3),
.main-nav li:nth-child(4) {
  display: inline-block;
  margin-right: 0;
  vertical-align: top;
  text-align: right;
}

.main-nav li:nth-child(3) {
  text-align: center;
}

.main-nav a {
  display: inline-block;
  text-align: center;
  padding-left: 0;

  color: #000000;
  text-decoration: none;
}

.main-nav a:hover {
  color: #81b3d2;
}

.main-nav a:active {
  color: #000000;
  opacity: 0.3;
}

.logo-header {
  position: absolute;
  top: 0;
  left: 531px; /*сделать потом по-нормальному*/
  z-index: 200;
}

.main-image {
  height: 432px;
  -width: 1200px;
  margin-top: -14px;
  padding-top: 76px;
  padding-left: 371px;
  margin-bottom: 0;
  background: /*#4076a1*/ url("../img/main-image-background2.jpg") no-repeat;
}

.main-image img {
  margin-left: auto;
  margin-right: auto;
}

.tagline {
  height: 156px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.tagline p {
  padding: 0;
  margin: 0;
}

.tagline p:first-child {
  font-weight: bold;
  font-size: 21px;
  text-align: center;
  line-height: 26px;
  text-transform: uppercase;
  margin-top: 60px;
  margin-bottom: 27px;
  letter-spacing: 0.2px;
}

.tagline p:last-child {
  line-height: 26px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
}

.title {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.number,
.about {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
}

.content-item {
  height: 256px;
}

.content-image {
  float: left;
  height: 256px;
  width: 800px;
}

.content-text{
  padding-top: 54px;
}

.grey .content-text {
  padding-top: 47px;
}

.content-text p {
  padding: 0;
  margin: 0;
}

.blue p:first-child,
.grey p:first-child {
  margin-bottom: 24px;
}

.blue p:nth-child(2),
.grey p:nth-child(2) {
  margin-bottom: 21px;
}

.content-text {
  float: left;
  height: 202px;
  width: 400px;
}

.blue {
  color: #ffffff;
  background-color: #81b3d2;
}

.grey {
  background-color: #eeeeee;
}

.features {
  height: 330px;
}

.features-item {
  float: left;
  min-height: 330px;
  width: 400px;
  padding: 0;
}

.features-img {
  position: relative;
  height: 131px;
  text-align: center;
  vertical-align: bottom;
  margin-bottom: 30px;
  line-height: 255px;
}

.features-img img {
  margin-left: auto;
  margin-right: auto;
}

.features-item .title {
  margin-bottom: 24px;
}

.question {
  position: relative;
  padding-top: 53px;
  -height: 291px;
  height: 238px;
}

.question p {
  padding: 0;
  margin: 0;
}

.question p:first-child {
  margin-bottom: 27px;
}

.question-interesting {
   font-size: 30px;
   line-height: 30px;
   font-weight: bold;
   text-align: center;
   text-transform: uppercase;
   -margin-bottom: 26px;
 }

.question-offer {
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  font-style: normal;
  text-transform: uppercase;
  margin-bottom: 50px;
}

/*.-btn-form-grey {
  position: absolute;
  margin: 0;
  padding: 0;
  left: 316px;
  bottom: 0;
  width: 568px;
  margin-top: 50px;
  outline: 2px solid crimson;
}*/

.btn-search-hotels,
.btn-search {
  height: 86px;
  width: 568px;
}

.btn-search-hotels {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  color: #ffffff;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  background: #766357;
  border: none;
  position: absolute;
  left: 316px;
  bottom: 0;
}

.form-search {
  position: absolute;
  left: 316px;
  top: 290px;
  height: 395px;
  width: 568px;
  -padding-top: 55px;
  padding: 55px;
  box-sizing: border-box;
  background-color: #ffffff;
  box-shadow: 0 4px 12px 2px rgba(0, 1, 1, 0.2);
  z-index: 10;
}

.form-search .row:nth-child(2) {
  margin-bottom: 30px;
}

.text-on-form-search {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
}

.form-search input {
  display: inline-block;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 14px;
  text-align: right;
  width: 295px;
  height: 38px;
  background: #f2f2f2;
  text-transform: uppercase;
  border: none;
}

.form-search input:nth-child(1),
.form-search input:nth-child(2) {
  padding-left: 12px;
  padding-right: 39px;
  text-align: left;
}

.form-search input:focus {
  outline: 2px solid #ebebeb;
  background-color: #ffffff;
}

.form-search input:not([type="submit"]):hover {
  background-color: #ebebeb;
}
.form-search .adult,
.form-search .children {
  width: 38px;
}

.form-search label {
  padding: 0;
  margin: 0;
  display: inline-block;
  text-align: left;
  line-height: 38px;
}

.form-search .row {
  clear: both;
  text-align: right;
  height: 38px;
  margin-bottom: 29px;
}

.form-search label {
  float: left;
}

.form-search arrival {
  position: relative;
  padding-left: 12px;
  -padding-right: 39px;
  text-align: center;
}

.calendar {
  position: relative;
  width: 21px;
  height: 22px;
}

.row .calendar::before {
  content: "";
  position: absolute;
  top: -2px;
  right: 9px;
  width: 22px;
  height: 21px;
  background: url("../img/sprites.png") no-repeat 0 0;
  z-index: 10;
}

.row .calendar:hover::before {
  background: url("../img/sprites.png") no-repeat -100px -150px;
}

.row .calendar:active::before {
  background: url("../img/sprites.png") no-repeat -100px -200px;
}

.row-adult {
  float: left;
}

/*.btn-minus {*/
  /*position: absolute;*/
  /*display: block;*/
  /*width: 38px;*/
  /*height: 38px;*/
/*}*/

.row-children {
  float: right;
  text-align: right;
  margin-bottom: 54px;
}

.row-adult input {
  position: relative;
  margin-left: 41px;
  padding: 0 38px;
  text-align: center;
}
/*--------------------- декоративные плюсы и минусы -----------------*/
.row-count-input {
  -position: relative;
}
.icon-minus {
  position: relative;
  font-size: 0;
  width: 38px;
  height: 38px;
  background-color: red;
}

.icon-minus::before {
  content: "";
  position: absolute;
  display: block;
  -margin-right: 5px;
  top: -5px;
  left: 60px;
  transform: translate(-50%, -50%);
  /*top: 8px;
  left: 54px;

  width: 12px;
  height: 3px;*/
  width: 38px;
  height: 38px;
  background: url("../img/sprites.png") no-repeat -38px 17px;
  z-index: 10;
  cursor: pointer;
}

.icon-minus {
  top: 0px;
  left: 1px;
}

.row-children .icon-minus {
  left: -12px;
}

.icon-minus:hover::before {
  background: url("../img/sprites.png") no-repeat 12px -133px;
}

.icon-minus:active::before {
  background: url("../img/sprites.png") no-repeat 12px -183px;
}

.icon-plus {
  position: relative;
  width: 38px;
  height: 38px;
}

.icon-plus::before {
  content: "";
  position: absolute;
  left: 116px;

  width: 38px;
  height: 38px;
  background: url("../img/sprites.png") no-repeat -86px 14px;
  z-index: 10;
  cursor: pointer;
}

.row-children .icon-plus::before {
  left: 103px;
}

.icon-plus:hover::before {
  background: url("../img/sprites.png") no-repeat -36px -136px;
}

.icon-plus:active::before {
  background: url("../img/sprites.png") no-repeat -36px -186px;
}
/*--------------------- декоративные плюсы и минусы -----------------*/
.row-children input {
  margin-left: 27px;
  padding: 0 38px;
  text-align: center;
}

.btn-search {
  font-family: "PT Sans", "Arial", sans-serif;
  color: #ffffff;
  background: #81b3d2;
  height: 58px;
  width: 458px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
}

.btn-search:hover {
  background: #669ec0;
}

.btn-search:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.map {
  position: relative;
  height: 593px;
}

.main-footer {
  position: relative;
  margin-top: -120px;
  height: 48px;
  padding-top: 36px;
  padding-bottom: 36px;
  background-color: rgba(252, 252, 252, 0.9);
}

.footer-hashteg,
.footer-social,
.footer-copyright {
  float: left;
  display: inline-block;
  width: 400px;
  text-align: center;
  vertical-align: middle;
}

.footer-hashteg {
  margin-top: 11px;
}

.footer-hashteg a {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.footer-social {
  font-size: 0;
}

.social-btn {
  position: relative;
  display: inline-block;
  font-size: 0;
  height: 48px;
  width: 46px;
  margin-right: 6px;
  vertical-align: middle;
  background-color: #81b3d2;
}

.social-btn:hover {
  background-color: #669ec0;
}

.social-btn:active {
  background-color: #5496bd;
}

.social-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../img/sprites.png");
  background-repeat: no-repeat;
}

.social-btn-tw::before {
  width: 17px;
  height: 15px;
  background-position: 0 -100px;
}

.social-btn-fb:before {
  width: 10px;
  height: 19px;
  background-position: -50px -100px;
}

.social-btn-yb:before {
  width: 20px;
  height: 16px;
  background-position: -100px -100px;
}

/*----------  изменение цвета ссылки в футере при нажатии---*/
.social-btn-tw:active::before {
  width: 17px;
  height: 15px;
  background-position: -150px -150px;
}

.social-btn-fb:active::before {
  width: 10px;
  height: 19px;
  background-position: -150px -200px;
}


.social-btn-yb:active::before {
  width: 20px;
  height: 16px;
  background-position: -150px -100px;
}

/*---------------------------------------------------------*/

.footer-copyright {
  font-size: 0;
  float: right;
  margin-top: 5px;
  -padding-top: 9px;
}

.footer-copyright span {
  font-size: 14px;
  line-height: 26px;
}

.html-logo {
  font-size: 0;
  margin-left: 8px;
  background: url("../img/sprites.png") no-repeat -300px 0;
  width: 113px;
  height: 39px;
}

.html-logo:hover {
  background: url("../img/sprites.png") no-repeat -300px -100px;
}

.html-logo:active {
  background: url("../img/sprites.png") no-repeat -300px -50px;
}

.footer-copyright span,
.html-logo {
  display: inline-block;
  vertical-align: middle;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* index-hotels*/
/*------------index-hotels---------------*/
.left-right-padding-container {
  padding: 0 72px;
}

.main-nav .active-page {
  color: #766357;
}

.content-filter {
  margin-top: -14px;
  height: 217px;
  width: 1056px;
  background: #7397ba url(../img/filter-background.jpg) no-repeat;
}

.column-in-filter {
  display: block;
  float: left;
  height: 217px;
  width: 255px;
  padding-top: 27px;
  box-sizing: border-box;
}

.title-in-filter {
  display: inline-block;
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  color: #ffffff;
  padding: 0;
  margin: 0;
  -margin-bottom: 21px;
}

.column-in-filter ul {
  margin: 0;
  padding: 0;
  font-size: 0;
  list-style: none;
}

.column-in-filter li {
  font-size: 14px;
  line-height: 26px;
  color: #ffffff;
  text-align: left;
  margin-bottom: 20px;
}

.column-in-filter:last-child {
  float: right;
  width: 328px;
}

/*------------------- декоративные чекбоксы ------------------*/
input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  display: block;
  margin-top: 25px;
  line-height: 21px;
  padding-left: 40px;
  position: relative;
  cursor: pointer;
}

.type-house input[type="checkbox"] + label {
  padding-left: 41px;
}

input[type="checkbox"]:not(:checked) + label::before {
  content: "";
  display: block;
  position: absolute;
  top: -2px;
  left: 0;
  background: url("../img/sprites.png")  no-repeat -50px -50px;
  width: 26px;
  height: 22px;
}

input[type="checkbox"]:checked:not(:disabled) + label::after {
  content: "";
  position: absolute;
  top: -2px;
  left: 0;
  background: url("../img/sprites.png") no-repeat 0 -50px;
  width: 26px;
  height: 22px;
}

input[type="checkbox"]:disabled + label::before {
   content: "";
   display: block;
   position: absolute;
   top: -2px;
   left: 0;
   background: url("../img/sprites.png")  no-repeat -200px -150px;
   width: 26px;
   height: 22px;
  cursor: not-allowed;
 }

input[type="checkbox"]:disabled + label {
  color: grey;
  cursor: not-allowed;
}

input[type="checkbox"]:checked:disabled + label::before {
  content: "";
  display: block;
  position: absolute;
  top: -2px;
  left: 0;
  background: url("../img/sprites.png")  no-repeat -200px -100px;
  width: 26px;
  height: 22px;
  cursor: not-allowed;
}

input[type="checkbox"]:checked:disabled + label {
  color: grey;
  cursor: not-allowed;
}
/*-------------------------------------*/


/*----------------- верстаем сложный фильтр --------------------------*/
.column-in-filter:last-child {
  width: 318px;
  -padding-left: 10px;
  -margin: 50px auto; /* для демо */

  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 10px;
  margin-left: -10px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;

  height: 32px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  padding-top: 5px;
  font-size: 14px;
  line-height: 21px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls .max-price {
  padding-left: 55px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  margin-left: 85px;
  height: 36px;
  width: 137px;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

/*-------------------------- конец сложного фильтра----------------------------*/

.content {
  height: 86px;
  border-bottom: 1px solid #f2f2f2;
}

.content-left,
.content-right {
  display: inline-block;
  font-size: 0;
  vertical-align: baseline;
}

.content-left {
  float: left;
  width: 135px;
}

.content-right {
  float: right;
  width: 892px;
}

.content-left,
.content-right {
  padding-top: 32px;
}

.result-count,
.sorting,
.arrow {
  display: block;
  float: left;
}

.sorting {
  padding-top: 4px;
}

.text-in-sorting {
  font-size: 12px;
  line-height: 18px;
}

.sorting span {
  margin-right: 40px;
}

.sorting a {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
  margin-right: 33px;
  border-bottom: 1px dotted #81b3d2;
}

.sorting a:hover {
  color: #81b3d2;
}

.sorting a:active {
  color: #000000;
  border-bottom: none;
}

.sorting .active {
  color: #81b3d2;
  border-bottom: none;
}

.arrow {
  float: right;
  font-size: 0;
}

.arrow-up {
  display: inline-block;
  margin-top: 8px;
  width: 11px;
  height: 10px;
  background: url("../img/sprites.png") no-repeat -250px -50px;
  cursor: pointer;
}

.arrow-down {
  display: inline-block;
  margin-left: 12px;
  width: 11px;
  height: 10px;
  background: url("../img/sprites.png") no-repeat -250px 0;
  cursor: pointer;
}

.arrow-up:hover {
  background: url("../img/sprites.png") no-repeat -150px -50px;
}

.arrow-up .arrow-active,
.arrow-up:active {
  background: url("../img/sprites.png") no-repeat -200px -50px;
}

.arrow-down:hover {
  background: url("../img/sprites.png") no-repeat -150px 0;
}

.arrow .arrow-active,
.arrow-down:active {
  background: url("../img/sprites.png") no-repeat -200px 0;
}

.hotel-image,
.hotel-description {
  display: block;
}

.hotel-image,
.hotel-description,
.type,
.price,
.btn-about,
.btn-reserve,
.raiting {
  box-sizing: border-box;
  vertical-align: top;
}

.content-hotel {
  height: 120px;
  width: 1056px;
  padding-top: 30px;
  border-bottom: 1px solid #f2f2f2;
}

.hotel-image {
  width: 135px;
  height: 90px;
  margin-right: 25px;
}

.hotel-description {
  height: 90px;
  width: 891px;
}

.description-header .title {
  display: block;
  float: left;
}

.description-header {
  padding-top: 0;
  margin-bottom: 4px;
  height: 26px;
  font-size: 0;
}

.description-header .title {
  display: block;
  -height: 21px;
  -padding: 0;
  margin-top: -3px;
  vertical-align: top;
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
}

.description-header .title a {
  color: #000000;
  text-decoration: none;
}

.description-header .title a:hover {
  cursor: pointer;
  color: #81b3d2;
}

.description-header .title a:active {
  cursor: pointer;
  color: #000000;
  opacity: 0.3;
}

.description-middle {
  margin-bottom: 17px;
}

.description-middle .type {
  display: inline-block;
  width: 110px;
}

.description-middle .price {
  display: inline-block;
  width: 142px;
  margin-left: 2px;
}

.description-bottom {
  min-height: 27px;
  font-size: 0;
}

/*------------------- эффекты для кнопок ПОДРОБНЕЕ и ЗАБРОНИРОВАТЬ---------------------*/
.description-bottom .btn-about {
  display: inline-block;
  height: 27px;
  width: 110px;
  text-decoration: none;
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  padding: 3px 17px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #81b3d2;
}

.description-bottom .btn-reserve {
  display: inline-block;
  height: 27px;
  width: 142px;
  text-decoration: none;
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  padding: 3px 17px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #766357;
  margin-left: 6px;
}

.description-bottom .btn-about:hover {
  background-color: #669ec0;
}

.description-bottom .btn-about:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.description-bottom .btn-reserve:hover {
  background-color: #604e43;
}

.description-bottom .btn-reserve:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #604e43;
}

/*--------------------------------------------------------*/

.description-bottom .raiting {
  display: block;
  height: 27px;
  font-size: 14px;
  line-height: 21px;
  width: 110px;
  text-align: center;
  padding: 3px 0;
  color: #666666;
  background-color: #f2f2f2;
}

.stars,
.raiting {
  display: block;
  float: right;
}

.stars {
  position: relative;
  -background: red url("../img/sprites.png") no-repeat 0 -350px;
}

.stars-count-4 {
  position: absolute;
  display: block;
  width: 89px;
  height: 17px;
  top: -1px;
  left: -89px;
  background: url("../img/sprites.png") no-repeat 0 -350px;
}

.stars-count-3 {
  position: absolute;
  display: block;
  width: 65px;
  height: 17px;
  top: -1px;
  left: -65px;
  background: url("../img/sprites.png") no-repeat 0 -300px;
}

.stars-count-2 {
  position: absolute;
  display: block;
  width: 42px;
  height: 17px;
  top: -1px;
  left: -42px;
  background: url("../img/sprites.png") no-repeat 0 -250px;
}

.inner-footer {
  margin: 0;
  background-color: #ffffff;
}


