.sprites, .stars-2, .stars-3, .stars, .academy-logo, .academy-logo-grey, .academy-logo-blue{
	background: url(sprites.png) no-repeat;
}

.sprites{
	background-position: 0 0;
	width: 296px;
	height: 231px;
}

.stars-2{
	background-position: 0 -250px ;
	width: 42px;
	height: 17px;
}

.stars-3{
	background-position: 0 -300px ;
	width: 65px;
	height: 17px;
}

.stars{
	background-position: 0 -350px ;
	width: 89px;
	height: 17px;
}

.academy-logo{
	background-position: -300px 0;
	width: 113px;
	height: 39px;
}

.academy-logo-grey{
	background-position: -300px -50px ;
	width: 113px;
	height: 39px;
}

.academy-logo-blue{
	background-position: -300px -100px ;
	width: 113px;
	height: 39px;
}

